{% extends "base.html" %}

{% block javascript %}
    <script>
    let createRental = (person_id) => {
        $.ajax({
            url: "../../api/rental/",
            type: "POST",
            dataType: "json",
            contentType: "json",
            data: JSON.stringify({
                "start_date": $("#start_date").val(),
                "end_date": $("#end_date").val(),
                "property": $("#property-select-select_property_id").val(),
                "persons": [person_id]
            }),
            success: () => {
                alert("Your request for rental reservations has been accepted.")
            }
        });
    };

    let createPerson = () => {
        $.ajax({
            url: "../../api/person/",
            type: "POST",
            dataType: "json",
            contentType: "json",
            data: JSON.stringify({
                "first_name": $("#first_name").val(),
                "middle_name": "",
                "last_name": $("#last_name").val(),
                "email": $("#email").val(),
                "birthday": $("#birthdate").val()
            }),
            success: (data) => {
                createRental(data.id);
            }
        });
    };

    let validation = async () => {
        let birthdate = $("#birthdate").val();
        let startDate = $("#start_date").val();
        let endDate = $("#end_date").val();

        if(!birthdate){
            throw new TypeError("Birthdate is invalid.");
        }
        if(!startDate){
            throw new TypeError("Starting Date is invalid.");
        }
        if(!endDate){
            throw new TypeError("End Date is invalid.");
        }

        birthdate = new Date(birthdate);
        startDate = new Date(startDate);
        endDate = new Date(endDate);

        let now = new Date();

        let minimumAge = new Date();
        minimumAge.setFullYear(now.getFullYear() - 18 );

        if(birthdate >= minimumAge){
            throw new RangeError("The person listed is below the age of 18. This person is not allowed to register.");
        }

        if(startDate < now){
            throw new RangeError("Invalid starting date. The starting date shall be at least a day later than today.");
        }

        if(endDate <= startDate){
            throw new RangeError("Invalid end date. The end date shall be at least one day later than start date.");
        }
        return true;
    };

    let submit = () => {
        validation()
            .then(() => {createPerson()})
            .catch((error) => {alert(error);});
    }

    $(document).ready(() => {
      $("#button_submit_rental_request").click(() => {submit()});
    });
    </script>

{% endblock %}

{% block page_content %}
<h1>Rental Property Application</h1>
<p>Unfortunately, some of the properties may not be available. So, please write down your contact information, the property you wanted, and the start and end date of the terms. We will inform you if your rental request is successful.</p>
<div id="application">
    <div id="applicant_property" class="columns">
         <div id="applicant" class="column is-half">
            <h2>Applicant</h2>
              <label for="first_name">First name:</label><br>
              <input class="input" type="text" id="first_name" name="first_name"><br>

              <label for="last_name">Last name:</label><br>
              <input class="input" type="text" id="last_name" name="last_name"><br>

              <label for="email">E-mail:</label><br>
              <input class="input" type="email" id="email" name="email"><br>

              <label for="birthdate">Birthdate</label><br>
              <input class="input" type="date" id="birthdate" name="birthdate"><br>
        </div>
         <div id="property" class="column is-half">
            <h2>Property</h2>
             <label for="property-select-select_property_id">Select Property:</label><br>
            <div id="property-select" class="select">
                <select id="property-select-select_property_id">
                    {% for property in properties %}
                        <option value="{{ property.id }}"> {{ property.name }} - {{ property.address }}</option>
                    {% endfor %}
                </select>
            </div>
         </div>
    </div>
    <div id="term">
        <h2>Duration of Term</h2>
        <label for="start_date">Starting Date:</label><br>
        <input class="input" type="date" id="start_date" name="start_date"><br>

        <label for="end_date">End Date:</label><br>
        <input class="input" type="date" id="end_date" name="end_date"><br>
    </div>
    <br>
    <button class="button is-primary" id="button_submit_rental_request">Submit Rental Request</button>
    <p>This is a django demonstration. It utilizes its provided templating engine for front end.
        The back-end is a multi-tier application, using the Django ORM. It consists of the following:
    </p>
    <ul>
        <li>
            View - (Combined RestfulAPI / Business Logic) layer:
            <p>This layer accepts incoming RestfulAPI requests, and do transformations to accept into the Data Access Layer (DAL).</p>
        </li>
        <li>
            Data Access Layer (DAL):
            <p>Abstracts CRUD operations from Django ORM. Handles all the data object creation, updating, saving to database, and deletion.</p>
        </li>
        <li>
            Database (DB):
            <p>Uses mysql as database.</p>
        </li>
    </ul>
</div>


{% endblock %}